@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

/* General */


 @media screen and (min-width: 768px) {
   }
    
* {margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }

:root{
    --primary: #ff0051 ;
    --second: #3a3a3a ;
    --third: #f2f2f2;
}

body {
  overflow-x: hidden;
}

body{
    background: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

/* header section */

header{
    top: 0;
    padding: 30px 100px;
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: 0.5s;
    z-index: 1100;
   
}

header.header-scrolled{
  padding: 18px 100px;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(20px);
}
.logo{
  position: relative;
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.nav{
  display : flex ;
  align-items: center ;
}

.nav li {
  position : relative ;
  list-style: none ;
  margin: 0 20px ;
}

.nav li a {
  text-decoration: none ;
  color: white ;
  text-transform: uppercase ;
  cursor: pointer;
  font-size: 1em ;
  font-weight: 300 ;
  letter-spacing: 1px ;
  transition: 0.5s ;
  padding: 10px;
}

.nav li a:hover {
  color: var(--primary) ;
}

.util{
  display: flex;
  align-items: center;
}

.util li {
  position : relative ;
  list-style: none ;
  margin: 0 10px ;
}

.util li a {
  text-decoration: none ;
  color: white ;
 transition: 0.5s ;
}

.util li a:hover {
  color: var(--primary) ;
}

.util li a ion-icon {
  font-size: 1.6em ;
}

.util li .number {
  position: absolute ;
  right: -1px ;
  bottom: 2px;
  width: 16px;
  background: var(--primary) ;
  color: white ;
  height: 16px ;
  border-radius: 50% ;
  display: flex ;
  justify-content: center ;
  align-items: center ;
  font-size: 0.6em ;
 font-weight: 400;
}

/* mobile menu and navigation */

.menu{
  display: none;
  transition: 0.5s;
}

.menu ion-icon{
  color: white;
  font-size: 1.6em;
}
.menu.active{
  transform: rotateZ(45deg);
}
.nav-mobile{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s;
  z-index: 900;
  gap: 20px;

}

.nav-mobile.active{
  visibility: visible;
  opacity: 1;
}

.nav-mobile li{
  position: relative;
  list-style: none;
}
.nav-mobile li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  transition: 0.5s;
  padding: 10px;
}

/* banner section */
#banner{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  }

  /* my adjustment  */
  /* .coverimage {
    height: 144%;
    width: min-content;  
} */

  /* make the shade for images */
  .women::before,
  .men::before,
  .special::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0 ;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
    transition: 0.5s;
  }

  /* remove the shade on hover */
  .women:hover::before,
  .men:hover::before,
  .special:hover::before{
    background: transparent;
  }

.women {
  position :absolute ;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background: var(--primary);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.men {
  position :absolute ;
  top: 0;
  left: 30%;
  height: 100%;
  width: 40%;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0% 100%, 25% 50% , 0 0);
  background: var(--second);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.special {
  position :absolute ;
  top: 0;
  left: 60%;
  height: 100%;
  width: 40%;
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);  background: var(--second);
  transition: 1s;
  display: flex;
  background: var(--primary);
  justify-content: center;
  align-items: center ;
}

#banner.left .women,
#banner.middle .men,
#banner.right .special{
  width : 100% ;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100% , 0 50% , 0 0);
  transition: 1s;
}

#banner.right .special {
  left : 0 ;
}
#banner.middle .men {
  left : 0 ;
}
#banner.left .men ,
#banner.left .special{
  left : 120% ;
}

#banner.right .men,
#banner.right .women {
left : -120% ;
}
#banner.middle .women {
  left : -120% ;
}

#banner.middle .special {
  left : 120% ;
}

/* banner images */
.women img ,
.men img ,
.special img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: 0.5s;
}

#banner.left .women img {
  width: 50%;
}

#banner.middle .men img,
#banner.right .special img {
  left : 50% ;
  width: 50%;
}

/* banner Switch button */
.switch-btn{
  position: relative;
  text-decoration: none;
  color: white  ;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 300;
  margin-top: 40%;
  z-index: 1000;
  transition: 0.5s;
  transform: scale(1);
}

.switch-btn:hover{
  transform: scale(1.2);
}

/* banner reset button */
.reset{
  position: absolute;
  /* left: 100px;
  bottom: 100px; */
  left: 38px;
  bottom: 10px;
  z-index: 1000;
  transition: 0.5s;

}

.reset.active{
  transform: rotate(180deg);
}

.reset ion-icon{
  font-size: 3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.reset ion-icon:hover{
  color: var(--primary) ;
}

/* banner content */
#banner .content{
  position: absolute;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 900;
}

#banner .content h1 {
  color : white ;
  font-size: 4.5em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#banner .content p {
  color : white ;
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#banner .content a {
  position: relative;
  width: 200px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  padding: 12px 20px;
  border: 1px solid white;
  transition: 0.3s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap : 10px;
}

#banner .content a ion-icon {
  font-size: 1.2em;
}

#banner .content a:hover {
  color: var(--primary) ;
  background: white ;
}

#banner.left .women .content,
#banner.middle .men .content,
#banner.right .special .content{
  opacity: 1;
  visibility: visible;
}

.women .content {
  left: 55%;
}

.men .content,
.special .content {
  left: 93px;
}



/* main section */
main{
  width: 100%;
  padding: 100px 0;
  background: #ffffff;
}

section.call-up{
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.call-up-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  box-shadow: 0 0 25px rgba(0,0,0,0.12);
  background: white;
}

.call-up-box ion-icon{
  font-size: 5em;
  color: var(--primary) ;
}

.call-up-box h4{
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.call-up-box p{
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6;
}

/* About Section */
.about{
  padding: 100px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;

}

.about .left ,
.about .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.promotion , 
.discovery{
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 50px;
}

.style ,
.collection{
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 50px;
}
.about-box{
  overflow: hidden;
}



.about-box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  object-position: center;
  transition: 1s;
}

.about-box:hover img{
  transform: scale(1.1);
}

/* a darker shade for the box  */
.about-box::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}


/* slightly brighter on hover  */
.about-box:hover::after{
  background: rgba(0,0,0,0.2);
}

.about .description{
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 900;
}

.about .description h4{
  position: relative;
  color: white;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about .description h4::after {
  position: absolute;
  content: '';
  background: var(--primary);
  bottom: -10px;
  left:0;
  width: 70%;
  height: 3px;
}

.about .description p{
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
}

.about a{
  position: relative;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition : 0.5s;
}

.about a:hover {
  gap : 10px;
}

/* Product Section  */

#products{
  position: relative;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
}

#product-filters{
position: relative;
display: flex;
align-items: center;
gap: 50px;
}

#product-filters li {
  position: relative;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}

#product-filters li::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  height: 3px;
  background: var(--primary);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#product-filters li:hover::before ,
#product-filters li.filter-active::before {
  visibility: visible;
  opacity: 1;
}

.product-container{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item{
  position: relative;
  width: 24%;
  height: 450px;
  background: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.12);
  margin-bottom: 20px;
  overflow: hidden;
}
.product-item img{
  position: relative;
  transform: scale(1);
  width: 100%;
  height: 330px;
  object-fit: cover;
  transition: 1s;
  transform-origin: bottom;
}

.product-item img:hover{
  transform: scale(1.1);
}

.product-info {
  width : 80% ;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

.product-info h4 {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

.product-info p {
  font-weight: 200;
  color: #000000;
}


.product-info .cross{
  text-decoration: line-through;
}
.product-info .price{
  font-size: 1.2em;
  font-weight: 500;
  color: var(--primary);
}

.product-rating{
display: flex;
gap: 5px;
}
.product-rating li{
  list-style: none;
}
.product-rating li ion-icon{
  font-size: 1.2em;
  color: var(--primary);
}
.product-item .hot {
  position : absolute ;
  top: 0;
  right: 0;
  z-index: 900;
  width: 50px;
  height: 30px;
  color: white;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-to-bag{
  position: absolute;
  bottom: 8%;
  right: 5%;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius:50% ;
  background: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.add-to-bag ion-icon{
  font-size: 1.6em;
}
.add-to-bag:hover{
  background: var(--third);
  color: var(--primary);
}

.loading-more a {
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  background: var(--primary);
  border: 1px solid var(--primary);
  padding: 10px 25px;
  color: white;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  transition: 0.3s;

}

.loading-more a:hover {
  background: white;
  color: var(--primary);
}
/* newsletter signup section */
#newsletter{
  position: relative;
  padding: 0 100px ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  height: 120px;
  box-shadow: 0 0 25px rgba(0,0,0,0.12);
  background: white;
}

.newsletter-box{
  width: 30%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.newsletter-box ion-icon{
  font-size: 3em;
  color: var(--primary);
}

.newsletter-box h4{
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
}

#newsletter p{
  width: 30%;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

#newsletter .discount {
  color: var(--primary);
  font-size: 4em;
  font-weight: 500;
  margin-left: 10px;
}

#newsletter form {
  width: 40%;
  display: inline-flex;
  justify-content: flex-end;
}
#newsletter form input[type="text"] {
  outline: none;
  border: 1px solid var(--third);
  width: 400px;
  padding: 10px 20px;
}
#newsletter form input[type="submit"] {
  text-transform: uppercase;
 outline: none;
  background: var(--primary);
  color: white;
  padding: 10px 30px;
  border: 1px solid var(--primary);
  cursor: pointer;
  transition: 0.3s;
}
#newsletter form input[type="submit"]:hover {
  background: white;
  color: var(--primary);
}

/* contact section */
#contact{
  position: relative;
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#contact .map{
  width: 100%;
}

.contact .info-wrap{
  margin-top: 80px;
  width: 80%;
  box-shadow: 0 0 25px rgba(0,0,0,0.12);
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}

.contact .info{
  background: white;
}
.contact .info ion-icon{
  color: white;
  float: left;
  width: 40px;
  height: 40px;
  padding: 10px;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
}

.contact .info h4{
  padding: 0 0 0 80px;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 5px;
}
.contact .info p{
  padding: 0 0 0 80px;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0;
}

.contact .contact-form{
  width: 80%;
  box-shadow: 0 0 25px rgba(0,0,0,0.12);
  background: white;
  padding: 30px 50px;
  margin-top:20px ;
  display: flex;
  flex-direction: column;
    gap: 10px;
}

.contact .contact-form input,
.contact .contact-form textarea{
width: 100%;
border-radius: 0;
box-shadow: none;
font-size: 1em;
border: 1px solid var(--third);
outline : none;
}
.contact .contact-form input::placeholder,
.contact .contact-form textarea::placeholder{
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
.contact .contact-form input{
  padding: 10px 12px;
  height: 45px;
}
.contact .contact-form textarea{
  padding: 10px 12px;
  
}

.contact .contact-form .text-center{
 display: flex;
  justify-content: center;
}
.contact .contact-form button[type="submit"]{
  background: var(--primary);
  border: 1px solid var(--primary);
  padding: 10px 25px;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
.contact .contact-form button[type="submit"]:hover{
  background: white;
  color: var(--primary);
}

/* Footer Section */

footer{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(20px);
  transition: 0.5s;
  z-index: 1100;
}

.sci{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sci li{
  list-style: none;
}

.sci li a{
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  transition: 0.3s;
}

.sci li .share {
  padding: 10px;
  background: var(--primary); 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci li .share:hover {
  background: white;
}

.sci li a:hover{
  color: var(--primary);
}

.footer-nav{
  display: flex;
  gap: 20px;
}

.footer-nav li{
  list-style: none;
}

.footer-nav li a{
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 300;
   letter-spacing: 1px;
   transition: 0.3s;
}

.footer-nav li a:hover{
  color: var(--primary);
}

.ask-us{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.ask-us p{
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.chat{
  text-decoration: none;
  color: white;
  font-size: 2em;
  padding: 10px;
  background: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.chat:hover{
  background: white;
  color: var(--primary);
}

/* back to top button */
.back-to-top{
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  background: var(--primary) ;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.back-to-top ion-icon{
  font-size: 1.5em;
}
.back-to-top.active{
  visibility: visible;
  opacity: 1;
}

/* media queries */
@media (max-width:600px){
  header{
    padding: 30px 20px;
  }

  header.header-scrolled{
    padding: 15px 20px;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(20px);
  }

  .nav{
    display: none;
  }
  .util{
    display: none;
  }
  .menu{
    display: block;
  }

  /* banner section */
  #banner{
    padding: 0 20px;
  }

  .women{
    height: 40%;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100% , 0 75%);
  }

  .men{
    top: 30%;
    left: 0;
    height: 40%;
    width: 100%;
    clip-path: polygon(100% 0, 100% 100%, 50% 75%, 0% 100%, 0 0, 50% 25%);
    
  }

  .special{
    top: 60%;
    left: 0;
    height: 40%;
    width: 100%;
    clip-path: polygon(50% 0, 100% 25%, 100% 100%, 0 100%, 0 25%);
  }

  #banner.left .women,
  #banner.middle .men,
  #banner.right .special{
    height: 100%;
  }

  #banner.right .special {
    top: 0;
  }
  #banner.middle .men {
    top: 0 ;
  }
  #banner.left .men ,
  #banner.left .special{
    top: 120% ;
  }
  #banner.right .men ,
  #banner.right .women{
    top: -120% ;
  }
  #banner.middle .women{
    top: -120% ;
  }
  #banner.middle .special{
    top: 120% ;
  }

  .switch-btn{
    font-size: 4em;
    margin-top: 0;
  }
  #banner.left .women img {
    height: 50%;
    width: 100% !important;
  }
  #banner.middle .men img,
  #banner.right .special img {
    left: 0;
    top: 50%;
    height: 50%;
    width: 100% !important;
  }
  #banner .content h1 {
    font-size: 2.5em;
    font-weight: 400;
  }
  .women .content {
    left: 20%;
    top: 60%;
}

.men .content,
.special .content{
  left: 20px;
  top: 15%;
}

.reset {
  left: 20px;
  bottom: 20px;
}

.reset ion-icon {
  font-size: 2em;

}

/* Call up Section */
section.call-up{
  padding: 0 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

 /* About Section */
 .about{
  padding: 100px 10px 0;
  flex-wrap: wrap;
 }

 .about .left,
  .about .right,
  .promotion,
  .discovery{
    width: 100%;
  }

  /* product Section */
  #products{
    padding: 100px 10px 50px;
    gap: 50px;
  }

  #product-filters{
    gap: 20px;
  }
  .product-container{
    flex-wrap: wrap;
  }
  .product-item{
    width: 100%;
  }

  /* Newsletter Section */
  #newsletter{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .newsletter-box{
    width: 100%;
  }
  #newsletter p{
    width: 100%;
  }
  #newsletter form{
    width: 100%;
  }
  #newsletter form input[type="text"]{
    width: 250px;
  }
  /* contact section */
  #contact{
    padding: 50px 0 0;
  }
  .contact .info-wrap{
    flex-wrap: wrap;
    width: 90%;
    gap: 30px;
  }

  .contact .contact-form{
    width: 90%;
  }

  /* footer section */
  footer{
    padding: 20px;
  }
  .footer-nav{
    display: none;
  }
}